.form-card {
  max-width: 600px;
  margin: auto;
}

.form {
  margin-top: 1em;
}

.field {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .form-card {
    padding: 0.5rem;
  }
}

.error {
  color: #d9534f;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
