<p-panel header="Clientes" class="list-panel">
  <p-inputgroup class="filter-input">
    <input
      pInputText
      [formControl]="searchControl"
      placeholder="Filtrar clientes..."
    />
    <p-inputgroup-addon>
      <p-button
        icon="pi pi-search"
        severity="secondary"
        variant="text"
        (click)="applyFilter(searchControl.value ? searchControl.value : '')"
      />
    </p-inputgroup-addon>
  </p-inputgroup>
  <p-table
    class="table"
    [value]="filteredClients"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [loading]="loading"
  >
    <ng-template #header>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Contato</th>
        <th>País</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template #body let-client>
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.cpf ? client.cpf : "-" }}</td>
        <td>{{ client.birthDate }}</td>
        <td>{{ client.phone ? client.phone : "-" }}</td>
        <td>{{ client.country?.code ? client.country?.code : "-" }}</td>
        <td>{{ client.state?.code ? client.state?.code : "-" }}</td>
        <td class="menu-cell">
          <div class="menu-buttons">
            <p-button
              icon="pi pi-pencil"
              severity="secondary"
              class="p-button-rounded p-button-text p-button-info"
              (click)="editClient(client)"
              pTooltip="Editar"
              tooltipPosition="top"
            ></p-button>
            <p-button
              icon="pi pi-times"
              severity="danger"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirmDelete(client)"
              pTooltip="Excluir"
              tooltipPosition="top"
            ></p-button>

            <app-confirm-modal
              #deleteModal
              title="Excluir cliente"
              message="Tem certeza que deseja excluir este cliente?"
              acceptLabel="Excluir"
              rejectLabel="Cancelar"
              [isWarning]="true"
              (accepted)="deleteClient()"
            >
            </app-confirm-modal>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
